.footer {
    padding-top: 118px;
    padding-bottom: 42px;
    overflow: hidden;
    @media (max-width:$xl) {
        padding-top: 74px;
        padding-bottom: 34px;
    }
    &__content {
        position: relative;
        @media (max-width:$xl) {
            padding-left: 61px;
            padding-right: 93px;
        }
    }
    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__top {
        @media (max-width:$lg) {
            flex-direction: column;
        }
        .footer__right {
            @media (max-width:$lg) {
                flex-direction: column;
            }
        }
        .footerNav {
            @media (max-width:$lg) {
                margin-top: 44px;
            }
        }
    }
    &__bottom {
        margin-top: -15px;
        @media (max-width:$lg) {
            position: relative;
        }
        @media (max-width:$lg) {
            margin-top: 90px;
        }
        .footer__right {
            display: flex;
            position: relative;
            left: -14px;
            @media (max-width:$lg) {
                left: 0;
                width: 100%;
                justify-content: space-between;
            }
        }
        .footer__left {
            @media (max-width:$lg) {
                position: absolute;
            }
        }
    }
    &__right {
        display: flex;
    }
    &__address {
        font-size: 22px;
        line-height: 25px;
        color: $gray;
    }
    &__yandex {
        display: inline-block;
        margin-top: 7px;
        font-size: 15px;
        line-height: 18px;
        color: $blueDark;
        border-bottom: 1px solid $blueDark;
        transition: $transition;
        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
    &__dolce {
        position: relative;
        top: 4px;
        font-size: 12px;
        line-height: 14px;
        color: $gray;
    }
    &__policy {
        font-size: 15px;
        line-height: 17px;
        color: $blueDark;
        opacity: 0.8;
        border-bottom: 1px solid transparent;
        transition: $transition;
        @media (max-width:$lg) {
            position: relative;
            top: -58px;
        }
        &:hover {
            border-bottom: 1px solid $blueDark;
        }
    }
    &__development {
        margin-left: 149px;
        position: relative;
        left: 58px;
        top: -12px;
        @media (max-width:$lg) {
            margin-left: 0;
            left: -22px;
        }
    }
    &__ferma {
        position: relative;
        &:hover {
            span {
                color: $purple;
            }
            svg {
                path {
                    fill:$purple;
                }
            }
        }
        svg {
            display: block;
            position: absolute;
            top: 1px;
            left: -93px;
            path {
                transition: $transition;
            }
        }
        span {
            font-size: 14px;
            line-height: 35px;
            font-weight: 500;
            color: $gray;
            white-space: nowrap;
            font-family: 'Roboto';
            transition: $transition;
        }
    }
}
.footerMode {
    margin-top: 26px;
    &__item {
        display: flex;
        font-size: 18px;
        line-height: 22px;
        color: $gray;
        &:not(:first-child) {
            margin-top: 4px;
        }
    }
    &__day {
        display: block;
        min-width: 88px;
        flex: none;
    }
    &__time {
        letter-spacing: 0.03em;
    }
}
.footerTravel {
    position: relative;
    margin-left: 80px;
    &__video {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45px;
        left: -79px;
        width: 162px;
        height: 162px;
        background: {
            repeat: no-repeat;
            size: cover;
        }
        border-radius: 50%;
        overflow: hidden;
        svg {
            display: block;
        }
    }
    &__how {
        padding: 50px 50px 50px 112px;
        width: 360px;
        height: 249px;
        border: 1px solid $greenMedium;
        border-radius: 4px;
    }
    &__question {
        font-size: 36px;
        line-height: 43px;
        color: $greenDark;
    }
    &__description {
        margin-top: 17px;
        font-size: 15px;
        line-height: 18px;
        color: $greenDark;
    }
}
.footerNav {
    width: 304px;
    @media (max-width:$lg) {
        padding-top: 74px;
        padding-bottom: 34px;
    }
    @media (max-width:$lg) {
        padding: 0;
        width: 350px;
    }
    &__list {
        display: grid;
        grid-template-columns: 196px 108px;
        @media (max-width:$lg) {
            grid-template-columns: 241px 110px;
        }
    }
    &__li {
        margin-bottom: 20px;
    }
    &__link {
        font-size: 24px;
        line-height: 29px;
        color: $blueDark;
        transition: $transition;
        &:hover {
            color: $purple;
        }
    }
}
.footerSocial {
    margin-left: 114px;
    @media (max-width:$lg) {
        margin-left: 0;
        margin-top: 11px;
    }
    &__list {
        display: flex;
    }
    &__item {
        &:not(:first-child) {
            margin-left: 12px;
        }
    }
    &__link {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 2px solid rgba(141, 155, 178, .3);
        border-radius: 50%;
        transition: $transition;
        @media (max-width:$xl) {
            width: 42px;
            height: 42px;
        }
        svg {
            display: block;
            path {
                transition: $transition;
            }
        }
        &:hover {
            border: 2px solid rgba(130, 0, 98, .3);
            svg {
                display: block;
                .fill {
                    fill: $purple;
                }
            }
        }
    }
}