.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: .8s cubic-bezier(0.43, 0.17, 0, 0.54);
    &.hide {
        top: -100%;
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        top: -100%;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(180deg, #5D6A77 0%, rgba(64, 81, 98, 0.3) 43.23%, rgba(79, 86, 94, 0.15) 64.06%, rgba(78, 80, 83, 0.04) 88.02%, rgba(108, 108, 108, 0) 100%);
        z-index: -1;
        transition: $transition5;
    }
    &__content {
        padding-top: 16px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
    }
    &__left,
    &__right {
        display: flex;
        align-items: flex-end;
    }
    &__dolce {
        position: relative;
        top: 2px;
    }
    &__logo {
        display: block;
        &:hover {
            svg {
                .color {
                    fill:$greenLight;
                }
            }
        }
        svg {
            display: block;
            .color {
                transition: $transition;
            }
        }
    }
    &__nav {
        margin-left: 54px;
    }
    &__tel {
        font-size: 23px;
        line-height: 29px;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: $white;
        span {
            color: $greenMedium;
        }
        @media (min-width:$xs) {
            pointer-events: none;
        }
    }
    &__btns {
        display: flex;
        position: relative;
        top: 16px;
    }
    &__search {
        position: relative;
        margin-left: 25px;
        &.show {
            .header__envelopeInput {
                width: 320px;
                opacity: 1;
                pointer-events: auto;
                input {
                    padding-left: 27px;
                    padding-right: 50px;
                }
            }
        }
    }
    &__quest {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border: 2px solid $white;
        border-radius: 32px;
        z-index: 2;
        cursor: pointer;
        transition: $transition;
        &:hover {
            border: 2px solid $greenMedium;
            svg {
                path,
                circle {
                    stroke: $greenMedium;
                }
            }
        }
        svg {
            display: block;
            path,
            circle {
                stroke: $white;
                transition: $transition;
            }
        }
    }
    &__signUp {
        margin-left: 29px;
        width: 267px;
    }
    &__envelopeInput {
        width: 64px;
        pointer-events: none;
        opacity: 0;
        transition: width .3s;
        input {
            width: 100%;
            border-radius: 32px;
        }
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 64px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            display: block;
            path,
            circle {
                stroke: $greenDark;
                transition: $transition;
            }
        }
    }
    &.gray {
        .header {
            &__logo {
                svg {
                    .color {
                        fill:$greenDark;
                    }
                }
                &:hover {
                    svg {
                        .color {
                            fill:$blueDark;
                        }
                    }
                }
            }
            &__tel {
                color: $blueDark;
            }
            &__quest {
                border: 2px solid $greenMedium;
                &:hover {
                    border: 2px solid $greenDark;
                    svg {
                        path,
                        circle {
                            stroke: $greenDark;
                        }
                    }
                }
                svg {
                    path,
                    circle {
                        stroke:$greenMedium;
                    }
                }
            }
        }
        .headerNavTop,
        .headerNavBottom {
            &__link {
                color: $greenDark;
            }
        }
        .headerNavTop__hover {
            &:after {
                background: $blueDark;
            }
        }
        .headerNavTop__link {
            &:hover {
                color: $blueDark;
            }
            &.about {
                svg {
                    path {
                        stroke: $greenDark;
                    }
                }
                &:hover {
                    svg {
                        path {
                            stroke: $blueDark;
                        }
                    }
                }
            }
        }
        .headerNavBottom {
            &__link {
                color: $greenDark;
                &:hover {
                    color: $blueDark !important;
                }
                &:after {
                    background: $blueDark;
                }
                &.active {
                    color: $purple;
                }
            }
        }
    }
    &.gradient {
        &:after {
            top: 0;
        }
    }
}
.headerNavTop {
    &__ul {
        display: flex;
    }
    &__li {
        &:not(:first-child) {
            margin-left: 24px;
        }
    }
    &__link {
        position: relative;
        font-size: 18px;
        line-height: 23px;
        color: $greenLight;
        transition: $transition;
        &.about {
            svg {
                position: absolute;
                bottom: -7px;
                left: 0;
                right: 0;
                width: 100%;
                height: 8px;
                path {
                    transition: $transition;
                }
            }
        }
    }
    &__hover {
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: $greenLight;
            opacity: 0;
            transition: $transition;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}
.headerNavBottom {
    margin-top: 10px;
    &__ul {
        display: flex;
    }
    &__li {
        &:not(:first-child) {
            margin-left: 32px;
        }
    }
    &__link {
        position: relative;
        font-size: 23px;
        line-height: 29px;
        color: $white;
        cursor: pointer;
        transition: $transition;
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: $white;
            opacity: 0;
            transition: $transition;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}
.headerServices {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #EEF5F8;
    z-index: 95;
    transform: translateY(-100%);
    opacity: 0;
    overflow-y: scroll;
    border-radius: 100% 100% 100% 100% / 10% 10% 20% 20%;
    transition: transform .9s, border-radius 1s, opacity 2s;
    &__content {
        padding: 147px 23px 40px;
    }
    &__close {
        display: flex;
        align-items: center;
    }
    &__cross {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border: 1px solid $purple;
        border-radius: 12px;
        cursor: pointer;
        svg {
            display: block;
        }
    }
    &__cover {
        margin-left: 23px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        color: $purple;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__box {
        margin-top: 52px;
        padding-left: 70px;
        display: flex;
    }
}
.servicesMain {
    &__item {
        transform: translateY(-30px);
        opacity: 0;
        transition: transform .9s 1s, opacity 1s 1s;
        &:not(:first-child) {
            margin-top: 65px;
        }
    }
    &__link {
        position: relative;
        font-size: 43px;
        line-height: 47px;
        color: $blueDark;
        font-family: 'Prata';
        cursor: pointer;
        transition: $transition;
        &:hover {
            color: $purple;
        }
        &.active {
            color: $purple;
            pointer-events: none;
            &:after {
                content:'';
                position: absolute;
                right: 0;
                bottom: 4px;
                left: 0;
                height: 2px;
                background: $purple;
            }
        }
    }
}
.servicesMiddle {
    margin-left: 156px;
    &__item {
        display: flex;
        transform: translateY(-30px);
        opacity: 0;
        transition: transform .9s 1.2s, opacity 1s 1.2s;
        &:not(:first-child) {
            margin-top: 46px;
        }
    }
    &__info {
        flex: none;
        padding-top: 5px;
        width: 124px;
        font-size: 21px;
        line-height: 27px;
        font-weight: 500;
        color: $greenMedium;
        transform: translateY(-30px);
        opacity: 0;
        transition: transform .4s .9s, opacity .5s .9s;
    }
    &__list {
        margin-left: 30px;
    }
    &__li {
        &:not(:first-child) {
            margin-top: 8px;
        }
    }
    &__link {
        position: relative;
        font-size: 28px;
        line-height: 39px;
        color: $blueDark;
        cursor: pointer;
        transition: $transition;
        &:hover {
            color: $purple;
        }
        &.active {
            color: $purple;
            pointer-events: none;
            &:after {
                content:'';
                position: absolute;
                right: 0;
                bottom: 4px;
                left: 0;
                height: 2px;
                background: $purple;
            }
        }
    }
}
.servicesDetail {
    &__content {
        margin-left: 188px;
        display: flex;
    }
    &__list {
        width: 267px;
        &:not(:first-child) {
            margin-left: 40px;
        }
    }
    &__li {
        padding-right: 20px;
        margin-bottom: 14px;
        transform: translateY(-30px);
        opacity: 0;
        transition: transform .9s 1.4s, opacity 1s 1.4s;
    }
    &__link {
        font-size: 18px;
        line-height: 25px;
        color: $blueDark;
        transition: $transition;
        &:hover {
            color: $purple;
        }
    }
}
.headerNavList {
    position: relative;
    &__content {
        padding: 31px 0;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -112px;
        width: 276px;
        transform: translateY(-2em);
        z-index: -1;
        background: $greenLight;
        border-radius: 20px;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    &:focus .headerNavList__content,
    &:focus-within .headerNavList__content,
    &:hover .headerNavList__content {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
    }
    &__li {
        &:not(:first-child) {
            margin-top: 12px;
        }
    }
    &__a {
        position: relative;
        font-size: 18px;
        line-height: 23px;
        color: $greenDark;
        transition: $transition;
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: transparent;
            transition: $transition;
            opacity: 0;
        }
        &:hover {
            color: $blueDark;
            &:after {
                opacity: 1;
                background: $blueDark;
            }
        }
    }
}
// midnight
.midnightInner {
    overflow: hidden !important;
}
.midnightHeader.gray {
    background: $white;
    .header {
        &__logo {
            svg {
                .color {
                    fill:$greenDark;
                }
            }
            &:hover {
                svg {
                    .color {
                        fill:$blueDark;
                    }
                }
            }
        }
        &__tel {
            color: $blueDark;
        }
        &__quest {
            border: 2px solid $greenMedium;
            &:hover {
                border: 2px solid $greenDark;
                svg {
                    path,
                    circle {
                        stroke: $greenDark;
                    }
                }
            }
            svg {
                path,
                circle {
                    stroke:$greenMedium;
                }
            }
        }
    }
    .headerNavTop,
    .headerNavBottom {
        &__link {
            color: $greenDark;
        }
    }
    .headerNavTop__hover {
        &:after {
            background: $blueDark;
        }
    }
    .headerNavTop__link {
        &:hover {
            color: $blueDark;
        }
        &.about {
            svg {
                path {
                    stroke: $greenDark;
                }
            }
            &:hover {
                svg {
                    path {
                        stroke: $blueDark;
                    }
                }
            }
        }
    }
    .headerNavBottom {
        &__link {
            color: $greenDark;
            &:hover {
                color: $blueDark !important;
            }
            &:after {
                background: $blueDark;
            }
            &.active {
                color: $purple;
            }
        }
    }
}
