@import "../modules/utilities/_variables.scss";
// Scrollbar
@import "../blocks/_jquery.scrollbar.scss";

@keyframes mainLinesDraw{
    to {stroke-dashoffset: 0;}
}
@keyframes sliderLinesDraw{
    to {stroke-dashoffset: 0;}
}
@keyframes moveGroundLeft {
    0% {
        transform: rotate(-5deg) translateX(-10px);
    }
    50% {
        transform: rotate(5deg) translateX(50px);
    }
    100% {
        transform: rotate(-5deg) translateX(-10px);
    }
}
@keyframes moveGroundRight {
    0% {
        transform: rotate(15deg) translateX(80px);
    }
    50% {
        transform: rotate(0deg) translateX(-50px);
    }
    100% {
        transform: rotate(15deg) translateX(80px);
    }
}
@keyframes fadeOutLeftTop {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateY(-50px) translateX(-50px);
    }
}
@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-50px) translateX(-50px);
    }
    100% {
       opacity: 1;
       transform: translateY(0) translateX(0);
    }
}
@keyframes fadeOutLeftTopImg {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.88);
        opacity: 0;
    }
}
@keyframes fadeInDownImg {
    0% {
        transform: scale(0.88);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sliderMain {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(50.52% 89.77% at 38.95% 53.7%, #95B2BA 0%, #7E9BA4 63.29%, #64838C 100%);
    &__content {
        width: 100%;
        height: 100vh;
        @extend %stretch;
    }
    &__item {
        width: 100%;
        height: 100vh;
        &.first {
            .sliderMain__title,
            .sliderMain__description,
            .sliderMain__btn,
            .sliderMain__bg {
                opacity: 0 !important;
            }
            .sliderMain__title {
                top: -30px !important;
            }
            .sliderMain__description {
                top: -45px !important;
            }
            .sliderMain__btn {
                top: -50px !important;
            }
        }
    }
    &__bg {
        background: {
            repeat: no-repeat;
            size: cover;
            position: top center;
        }
        transition: opacity 1s ease 0.1s;
        @extend %stretch;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 98px;
        padding-left: 122px;
        width: 100%;
        height: 100%;
    }
    &__inner {
        max-width: 530px;
    }
    &__title {
        position: relative;
        top: -30px;
        opacity: 0;
        font-size: 66px;
        line-height: 62px;
        color: $white;
        font-family: 'Prata';
        letter-spacing: 0.9px;
        transition: top 0.8s ease 0.7s, opacity 0.8s ease 0.7s;
    }
    &__description {
        position: relative;
        top: -45px;
        opacity: 0;
        margin-top: 20px;
        font-size: 21px;
        line-height: 30px;
        color: $greenLight;
        transition: top 1s ease 0.9s, opacity 1s ease 0.9s;
    }
    &__btn {
        position: relative;
        top: -50px;
        opacity: 0;
        margin-top: 66px;
        width: 271px;
        transition: top 1s ease 1.1s, opacity 1s ease 1.1s, background .5s, border .5s, color .5s !important;
    }
    &__nav {
        position: absolute;
        top: 0;
        right: 69px;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &__dots {
        display: flex;
        li {
            position: relative;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding: 0;
            border: none;
            font-size: 0;
            cursor: pointer;
            overflow: hidden;
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
            &:not(:last-child) {
                margin-right: 13px;
            }
            &:after {
                content:"";
                @extend %stretch;
                background: transparent;
                transition: .3s;
                z-index: 10;
                background: $white;
                margin: 18px;
                border-radius: 50%;
                opacity: .5;
                transition: $transition;
            }
            &.slick-active {
                &:after {
                    opacity: 1;
                }
                .sliderMain__line {
                    stroke:#DBE9EF;
                    animation: sliderLinesDraw 6s linear forwards;
                }
            }
        }
    }
    &__svg {
        stroke-miterlimit:10;
        stroke-dasharray: 145;
        stroke-dashoffset: 145;
    }
    &__arrows {
        margin-top: 12px;
    }
    &__prev,
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: rgba(219, 233, 239, .2);
        border-radius: 50%;
        cursor: pointer;
        transition: $transition;
        &:hover {
            background: rgba(219, 233, 239, .6);
        }
        &:active {
            background: rgba(219, 233, 239, .9);
        }
        svg {
            display: block;
        }
    }
    &__next {
        margin-top: 12px;
        padding-left: 1px;
    }
    &__prev {
        padding-right: 2px;
    }
    .slick-active {
        .sliderMain__title,
        .sliderMain__description,
        .sliderMain__btn {
            top: 0;
            opacity: 1;
        }
    }
}
.originalEquipment {
    &__content {
        padding-top: 185px;
    }
    &__texts {
        max-width: 880px;
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        font-size: 56px;
        line-height: 58px;
        color: $blueDark;
        font-family: 'Prata';
    }
    &__description {
        width: 80%;
        margin: 35px auto 0;
        font-size: 24px;
        line-height: 34px;
        color: $gray;
    }
}
.sliderEquipment {
    position: relative;
    &__content {
        margin-top: 115px;
        padding-left: 214px;
        padding-right: 148px;
    }
    &__item {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    &__texts {
        max-width: 574px;
    }
    &__title {
        position: relative;
        display: inline-block;
        font-size: 80px;
        line-height: 104px;
        color: $blueDark;
        font-family: 'Prata';
        transition: $transition;
        &:hover {
            color: $greenMedium;
            &:before {
                background: transparent;
            }
        }
        &:before {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0px;
            left: 0;
            height: 2px;
            opacity: 0.5;
            background: $blueDark;
            transition: $transition;
        }
    }
    &__description {
        margin-top: 32px;
        font-size: 21px;
        line-height: 29px;
        color: $gray;
    }
    &__box {
        margin-top: 44px;
        display: flex;
        align-items: center;
    }
    &__procedures {
        display: flex;
        align-items: center;
        svg {
            display: block;
        }
    }
    &__video {
        margin-left: 24px;
        font-size: 18px;
        line-height: 23px;
        text-decoration-line: underline;
        color: $greenDark;
        transition: $transition;
        &:hover {
            color: $blueDark;
            text-decoration-line: none;
        }
        &:not(:first-child) {
            margin-right: 41px;
        }
    }
    &__img {
        max-width: 544px;
        img {
            display: block;
        }
    }
    &__dop {
        width: 400px;
        text-align: center;
    }
}
.sliderEquipWarranty {
    position: relative;
    width: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-top: 20px;
        font-size: 28px;
        line-height: 30px;
        color: $blueDark;
        font-family: 'Prata';
    }
    &__link {
        display: inline-block;
        margin-top: 19px;
        font-size: 18px;
        line-height: 18px;
        color: $purple;
    }
    &__svg {
        position: absolute;
        top: -120px;
        left: -125px;
        &:hover {
            svg {
                .sliderEquipWarranty__path {
                    &_1 {
                        opacity: .6;
                        transform: rotate(15deg);
                    }
                    &_2 {
                        opacity: .5;
                        transform: rotate(25deg) scale(.95);
                    }
                    &_3 {
                        opacity: .4;
                        transform: rotate(25deg);
                    }
                    &_4 {
                        opacity: .3;
                        transform: rotate(15deg);
                    }
                    &_5 {
                        opacity: .2;
                        transform: rotate(15deg);
                    }
                }
            }
        }
    }
    &__path {
        opacity: 0;
        transform-origin: center center;
        transition: $transition5;
        &_1 {
            transition-delay: .1s;
        }
        &_2 {
            transition-delay: .3s;
        }
        &_3 {
            transition-delay: .5s;
        }
        &_4 {
            transition-delay: .7s;
        }
        &_5 {
            transition-delay: .9s;
        }
    }
    svg {
        display: block;
    }
}
.sliderEquipHexagon {
    margin-top: 14px;
    margin-left: auto;
    position: relative;
    width: 259px;
    height: 287px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__number {
        position: relative;
        left: -10px;
        font-size: 116px;
        line-height: 100%;
        color: $greenMedium;
        opacity: 0.75;
        font-family: 'Prata';
        &:before {
            content:'года';
            position: absolute;
            top: 17px;
            font-size: 36px;
            line-height: 48px;
            color: $greenDark;
            font-family: 'Prata';
        }
    }
    &__text {
        margin-top: -4px;
        width: 137px;
        font-size: 18px;
        line-height: 22px;
        color: $greenDark;
    }
    svg {
        @extend %stretch;
    }
}
.mainLines {
    margin-top: -228px;
    &__path {
        stroke-miterlimit:10;
        stroke-dasharray: 3001;
        stroke-dashoffset: 3001;
    }
    &__svg {
        &.show {
            .mainLines__path {
                &_0 {
                    stroke:#DBE9EF;
                    animation: mainLinesDraw 1s linear forwards;
                }
                &_1 {
                    stroke:#BBCDD9;
                    animation: mainLinesDraw 1.1s linear 0.3s forwards;
                }
                &_2 {
                    stroke:#9BB1C3;
                    animation: mainLinesDraw 1.2s linear 0.5s forwards;
                }
                &_3 {
                    stroke:#7B96AE;
                    animation: mainLinesDraw 1.3s linear 0.7s forwards;
                }
                &_4 {
                    stroke:#5B7A98;
                    animation: mainLinesDraw 1.4s linear 0.9s forwards;
                }
                &_5 {
                    stroke:#3B5E82;
                    animation: mainLinesDraw 1.5s linear 1.2s forwards;
                }
            }
        }
    }
}
.bonusCard {
    padding-top: 272px;
    padding-bottom: 165px;
    position: relative;
    &__content {
        position: relative;
    }
    &__card {
        width: 662px;
        height: 467px;
        position: absolute;
        top: -179px;
        right: 298px;
        z-index: 1;
        transform: translateY(300px) translateX(200px) scale(0.8) rotate(-16deg);
        transition: $transition8eio;
        img {
            display: block;
            height: 100%;
        }
    }
    &__phone {
        position: absolute;
        top: 16px;
        right: 390px;
        transform: translateY(110px) scale(0.8);
        transition: $transition8eio;
    }
    &.show {
        .bonusCard__card {
            transform: translateY(0px) translateX(0px) scale(1) rotate(0deg);
        }
        .bonusCard__phone{
            transform: translateY(0px) scale(1);
        }
    }
}
.bonusSystem {
    position: relative;
    padding-top: 60px;
    padding-bottom: 65px;
    width: 100%;
    background: $blueGrayGrad;
    border-radius: 60px;
    overflow: hidden;
    @extend %centerContainer;
    &__box {
        width: 501px;
    }
    &__title {
        font-size: 48px;
        line-height: 60px;
        color: $white;
        font-family: 'Prata';
    }
    &__description {
        margin-top: 26px;
        font-size: 20px;
        line-height: 32px;
        color: $greenLight;
    }
    &__ground {
        position: absolute;
        pointer-events: none;
        &_left {
            left: -220px;
            top: -300px;
            animation: moveGroundLeft 2.5s infinite linear;
        }
        &_right {
            top: -160px;
            right: -130px;
            animation: moveGroundRight 4s infinite 1s linear;
        }
    }
}
.typesCards {
    padding-top: 66px;
    background: #fff;
    position: relative;
    z-index: 2;
    &__content {
        display: flex;
    }
    &__box {
        max-width: 572px;
        &.guest {
            .typesCards__numbers {
                margin-top: 36px;
                .typesCards__description {
                    margin-top: 8px;
                }
            }
            .typesCards__item {
                display: flex;
                &:not(:first-child) {
                    margin-top: 26px;
                }
            }
            .typesCards__percent {
                margin-top: -10px;
            }
        }
        &.regular {
            margin-left: 198px;
            .typesCards__item {
                &:not(:first-child) {
                    margin-left: 34px;
                }
            }
            .typesCards__numbers {
                margin-top: 47px;
                display: flex;
                .typesCards__description {
                    margin-top: -6px;
                }
            }
        }
    }
    &__title {
        font-size: 34px;
        line-height: 36px;
        font-weight: 300;
        color: $blueDark;
    }
    &__description {
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
    }
    &__li {
        &:not(:first-child) {
            margin-top: 6px;
        }
    }
    &__percent {
        flex: none;
        width: 162px;
        font-size: 50px;
        line-height: 63px;
        font-weight: 300;
        color: $blueDark;
    }
    &__percentage {
        font-family: "Roboto";
    }
}
.sectionConsult {
    padding-top: 333px;
    position: relative;
    &__description {
        margin-top: 22px;
    }
    &__input {
        margin-top: 42px;
    }
    &__send {
        margin-top: 48px;
        display: flex;
        align-items: center;
    }
    &__button {
        width: 196px;
    }
    &__privacy {
        margin-left: 32px;
    }
    &__practice {
        margin-left: 65px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 373px;
        height: 335px;
        transition: opacity .7s .7s;
        &.hide {
            opacity: 0;
        }
        span {
            position: absolute;
            top: 50%;
            margin-top: -42px;
            font-size: 24px;
            line-height: 28px;
            color: $white;
            font-weight: 500;
            text-align: center;
        }
        &:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: {
                image: url($imgUrl + "svg/hexagon.svg");
                size: contain;
                repeat: no-repeat;
            }
        }
    }
    &__year {
        position: relative;
        top: 14px;
        left: -5px;
        font-size: 180px;
        line-height: 233px;
        letter-spacing: -0.05em;
        color: #DBE9EF;
        font-family: 'Prata';
    }
    .envelopeInput {
        &__field {
            width: 576px;
        }
    }
    .bonusSystem__ground_left {
        left: -450px;
        top: -200px;
    }
    .bonusSystem__ground_right {
        top: -310px;
        right: -350px;
    }
}
.usefulBlog {
    padding-top: 201px;
    &__list {
        display: flex;
        margin-top: 40px;
        &.top {
            .usefulBlog__item {
                transform: translateY(-40px);
            }
        }
    }
    &__item {
        width: 450px;
        transform: translateY(0px);
        &:not(:first-child) {
            margin-left: 63px;
        }
        &:nth-child(1) {
            transition: transform .3s .1s;
        }
        &:nth-child(2) {
            transition: transform .3s .2s;
        }
        &:nth-child(3) {
            transition: transform .3s .3s;
        }
        &.hover {
            .usefulBlog__img {
                &:after {
                    opacity: 1;
                }
                &:before {
                    opacity: 1;
                }
            }
            .usefulBlog__link {
                color: $blueDark;
            }
        }
    }
    &__img {
        position: relative;
        display: block;
        width: 100%;
        height: 290px;
        background: {
            repeat: no-repeat;
            size: cover;
            position: center;
        }
        border-radius: 60px 60px 60px 20px;
        overflow: hidden;
        &:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(59, 94, 130, 0.4), rgba(59, 94, 130, 0.4)), url(BpSdF-NEz5s.jpg);
            opacity: 0;
            transition: $transition;
        }
        &:before {
            content:'Прочитать';
            position: absolute;
            top: calc(50% - 19px);
            left: calc(50% - 75px);
            font-size: 30px;
            line-height: 36px;
            color: $white;
            border-bottom: 2px solid $white;
            z-index: 1;
            opacity: 0;
            transition: $transition;
        }
    }
    &__date {
        margin-top: 38px;
        font-size: 20px;
        line-height: 20px;
        color: #748092;
    }
    &__title {
        margin-top: 12px;
    }
    &__link {
        font-size: 30px;
        line-height: 36px;
        color: $gray;
        transition: $transition;
    }
}
.reviews {
    position: relative;
    padding-top: 395px;
    &__bg {
        position: absolute;
        top: -182px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1920px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(111, 1, 87, 0.23) 31.77%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.5;
    }
    &__svg {
        position: absolute;
        top: 159px;
    }
    &__content {
        z-index: 1;
        //padding-right: 200px !important;
    }
    &__list {
        margin-top: 62px;
        //margin: 62px -2px 0 -2px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex:none;
        position: relative;
        //margin: 2px;
        width: 245px;
        height: 245px;
        overflow: hidden;
        transition: $transition;
        &:first-child {
            border-radius: 60px 0 0 0;
        }
        &:nth-child(6) {
            border-radius: 0 60px 0 0;
        }
        &:nth-child(7) {
            border-radius: 0 0 0 60px;
        }
        &:last-child {
            border-radius: 0 0 60px 0;
        }
        &:hover {
            transform: scale(1.34);
            z-index: 2;
            border-radius: 40px;
            filter: drop-shadow(0px 20px 55px rgba(116, 128, 146, 0.3));
            &:after {
                background: $white;
                opacity: 1;
            }
            &:before {
                opacity: 0.8;
            }
        }
        &:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(226, 232, 234, 0.8);
            opacity: 0.8;
            backdrop-filter: blur(35px);
            z-index: 0;
            transition: $transition;
        }
        &:before {
            content:'';
            position: absolute;
            top: 0;
            left: -73%;
            width: 595.6px;
            height: 595.6px;
            background: radial-gradient(50% 50% at 50% 50%, #E7F0FA 54.69%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;
            z-index: 1;
            transition: $transition;
        }
    }
    &__people {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background: {
            repeat: no-repeat;
            size: cover;
            position: top center;
        }
        transition: $transition;
        overflow: hidden;
    }
    &__path {
        stroke-miterlimit:10;
        stroke-dasharray: 3601;
        stroke-dashoffset: 3601;
    }
    &__svg {
        &.show {
            .reviews__path {
                &_0 {
                    stroke:#DBE9EF;
                    animation: mainLinesDraw 1.5s linear 1.2s forwards;
                }
                &_1 {
                    stroke:#BBCDD9;
                    animation: mainLinesDraw 1.4s linear 0.9s forwards;
                }
                &_2 {
                    stroke:#9BB1C3;
                    animation: mainLinesDraw 1.3s linear 0.7s forwards;
                }
                &_3 {
                    stroke:#7B96AE;
                    animation: mainLinesDraw 1.2s linear 0.5s forwards;
                }
                &_4 {
                    stroke:#5B7A98;
                    animation: mainLinesDraw 1.1s linear 0.3s forwards;
                }
                &_5 {
                    stroke:#3B5E82;
                    animation: mainLinesDraw 1s linear forwards;
                }
            }
        }
    }
}
.videoHistory {
    position: relative;
    &__container {
        height: 880px;
    }
    &__video {
        width: 100%;
        height: 100%;
        border-radius: 80px;
        overflow: hidden;
        background: #000000;
    }
    &__content {
        position: absolute;
        bottom: 85px;
        left: 153px;
        z-index: 2;
    }
    &__title {
        font-size: 72px;
        line-height: 79px;
        color: $white;
        font-family: 'Prata';
    }
    &__description {
        margin-top: 33px;
        font-size: 24px;
        line-height: 34px;
        color: $greenLight
    }
    &__btn {
        margin-top: 39px;
        width: 196px;
    }
}
.specialists {
    position: relative;
    padding-top: 152px;
    &__bg {
        position: absolute;
        top: -628px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1920px;
        background: radial-gradient(50% 50% at 50% 50%, #E7F0FA 54.69%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.75;
    }
    &__header {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 48px;
        line-height: 62px;
        color: $blueDark;
        font-family: 'Prata';
    }
    &__link {
        margin-left: 41px;
    }
    &__all {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        color: $greenDark;
        border-bottom: 1px solid $greenDark;
        transition: $transition;
        &:hover {
            color: $blueDark;
            border-bottom: 1px solid transparent;
        }
    }
    &__state {
        position: absolute;
        top: -145px;
        right: 0;
        padding-top: 62px;
        width: 255px;
        height: 375px;
        svg {
            @extend %stretch;
        }
    }
    &__number {
        font-size: 128px;
        line-height: 173px;
        text-align: center;
        letter-spacing: -0.015em;
        color: $greenMedium;
        opacity: 0.75;
        font-family: 'Prata';
    }
    &__text {
        position: absolute;
        top:104px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: $greenDark;
        text-align: center;
    }
    &__container {
        padding-left: 177px;
    }
    &__box {
        margin-top: 45px;
        display: flex;
        height: 475px;
    }
}
.specialistsNav {
    padding: 43px 27px 33px 42px;
    width: 420px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    border-radius: 40px;
    overflow: hidden;
    &__content {
        padding-right: 35px;
        height: 405px;
    }
    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            .specialistsNav__img {
                &:after {
                    border: 2px solid $greenMedium;
                }
            }
            .specialistsNav__bg {
                background-color: $greenMedium;
            }
        }
        &:not(:first-child) {
            margin-top: 15px;
        }
        &.active {
            pointer-events: none;
            .specialistsNav__img {
                &:after {
                    border: 2px solid #8D5287;
                }
            }
            .specialistsNav__name {
                color: $blueDark;
            }
            .specialistsNav__hakeem {
                color: $greenDark;
            }
        }
    }
    &__wrapper {
        margin-left: 22px;
        max-width: 212px;
    }
    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        flex: none;
        &:after {
            content:'';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 50%;
            border: 2px solid transparent;
            transition: $transition;
        }
    }
    &__bg {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        background: {
            repeat: no-repeat;
            size: cover;
            color: #EFFAFC;
        }
        transition: $transition;
    }
    &__name {
        font-size: 21px;
        line-height: 27px;
        font-weight: 500;
        color: $greenDark;
    }
    &__hakeem {
        margin-top: 5px;
        font-size: 15px;
        line-height: 20px;
        color: $greenMedium;
    }
}
.specialistsFor {
    margin-left: 40px;
    width: calc(100% - 589px);
    &__content {
        height: 100%;
    }
    &__item {
        height: 100%;
        display: flex !important;
        position: relative;
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 61px 63px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(40px);
        border-radius: 40px;
        animation:fadeOutLeftTop 1.2s both;
    }
    &__name {
        font-size: 38px;
        line-height: 48px;
        font-weight: 500;
        color: $blueDark;
    }
    &__ul {
        &:not(:first-child) {
            margin-top: 24px;
        }
    }
    &__block {
        margin-top: 34px;
    }
    &__specialization {
        font-size: 18px;
        line-height: 24px;
        color: $greenMedium;
    }
    &__medic {
        margin-top: 6px;
        font-size: 20px;
        line-height: 24px;
        color: $blueDark;
    }
    &__a {
        display: inline-flex;
        align-items: center;
        &:hover {
            span {
                opacity: 1;
            }
            svg {
                width: 36px;
            }
        }
        span {
            font-size: 24px;
            line-height: 30px;
            color: $purple;
            opacity: 0.8;
            transition: $transition;
        }
        svg {
            margin-top: 4px;
            margin-left: 12px;
            display: block;
            transition: $transition5;
        }
    }
    &__img {
        position: absolute;
        right: 138px;
        bottom: 0;
        
        &:after {
            content:'';
            position: absolute;
            top: 106px;
            left: -110px;
            width: 632px;
            height: 475px;
            background: {
                image: url($imgUrl + "specialistsForImg-bgPeople.png");
                repeat: no-repeat;
            }
            animation:fadeOutLeftTopImg .5s both 0.9s;
        }
        img {
            display: block;
            position: relative;
            z-index: 1;
            animation:fadeOutLeftTopImg 1.2s both;
        }
    }
    .sliderArrow__prev {
        left: -670px;
    }
    .sliderArrow__next {
        right: -156px;
    }
    .slick-list {
        overflow: visible !important;
    }
    .slick-list,
    .slick-track {
        height: 100%;
    }
    .slick-slide {
        height: 100%;
        & > div {
            height: 100%;
        }
    }
    .slick-active {
        .specialistsFor__description {
            animation:fadeInDown 1.2s both;
        }
        img {
            animation:fadeInDownImg 1.2s both;
        }
        .specialistsFor__img {
            &:after {
                animation:fadeInDownImg .5s both 0.9s;
            }
        }
    }
}