@import "../modules/utilities/_variables.scss";
@import "../modules/utilities/_mixins.scss";
.pagePrice {
    margin-top: 57px;
    @media (max-width:$xl) {
        margin-top: 69px;
    }
    @media (max-width:$lg) {
        margin-top: 76px;
    }
    &__info {
        margin-top: 45px;
        display: flex;
        @media (max-width:$xl) {
            margin-top: 32px;
        }
        @media (max-width:$lg) {
            margin-top: 24px;
            flex-direction: column;
        }
    }
    &__description {
        flex:none;
        width: 417px;
        font-size: 16px;
        line-height: 22px;
        color: $greenDark;
        @media (max-width:$xl) {
            margin-top: 26px;
        }
        @media (max-width:$lg) {
            margin-top: 0;
            width: 84%;
        }
    }
    &__services {
        margin-top: 64px;
        display: flex;
        @media (max-width:$xl) {
            margin-top: 29px;
        }
        @media (max-width:$lg) {
            position: relative;
            display: block;
        }
        &.list {
            margin-top: 49px;
            .priceNav {
                @media (max-width:$lg) {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }
            }
            .priceList {
                @media (max-width:$lg) {
                    left: 8px;
                    background: $white;
                }
            }
            .pagePrice__selection {
                @media (max-width:$lg) {
                    display: inline-flex;
                    position: relative;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }
    &__selection {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: $transition5;
        @media (max-width:$lg) {
            &:after {
                content:'';
                position: absolute;
                top: -3px;
                left: 0;
                width: 19px;
                height: 34px;
                background: {
                    image: url($imgUrl + "svg/priceListHeader-lgArrows.svg");
                    repeat: no-repeat;
                }
                transform: rotate(180deg)
            }
        }
        span {
            padding-left: 41px;
            font-size: 24px;
            line-height: 30px;
            font-weight: 500;
            color: $greenMedium;
        }
    }
    .containerMin {
        @media (max-width:$lg) {
            padding: 0 160px;
        }
    }
}
.priceHeader {
    display: flex;
    align-items: center;
    @media (max-width:$xl) {
        align-items: flex-start;
    }
    @media (max-width:$lg) {
        flex-direction: column;
    }
    &__title {
        font-size: 72px;
        line-height: 72px;
        color: $blueDark;
        font-family: 'Prata';
        @media (max-width:$lg) {
            font-size: 42px;
            line-height: 50px;
        }
        @media (max-width:$lg) {
            margin-top: 44px;
            order: 2;
        }
    }
    &__list {
        margin-left: 67px;
        display: flex;
        @media (max-width:$xl) {
            margin-left: 56px;
            margin-top: 8px;
        }
        @media (max-width:$lg) {
            margin-left: 0;
            margin-top: 0;
            order: 1;
        }
    }
    &__item {
        &:not(:first-child) {
            margin-left: 48px;
            @media (max-width:$lg) {
                margin-left: 35px;
            }
        }
    }
    &__link {
        position: relative;
        font-size: 21px;
        line-height: 27px;
        font-weight: 500;
        color: $blueDark;
        transition: $transition5;
        @media (min-width:$lg) {
            &:hover {
                color: $greenMedium;
                &:after {
                    opacity: 1;
                }
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: $greenMedium;
            opacity: 0;
            transition: $transition5;
        }
    }
}
.priceSearch {
    margin-left: 43px;
    position: relative;
    @media (max-width:$xl) {
        margin-left: 37px;
    }
    @media (max-width:$lg) {
        margin-left: 0;
        margin-top: 48px;
        transition: $transition5;
    }
    &__envelope {
        width: 1034px;
        @media (max-width:$xl) {
            width: 753px;
        }
        @media (max-width:$lg) {
            width: 704px;
        } 
        input {
            width: 100%;
            padding: 0 64px 0 24px;
        }
    }
    &__button {
        position: absolute;
        top: calc(50% - 10px);
        right: 22px;
        cursor: pointer;
        @media (min-width:$lg) {
            &:hover {
                svg {
                    circle,
                    path {
                        stroke: $blueDark;
                    }
                }
            }
        }
        svg {
            display: block;
            circle,
                path {
                    transition: $transition;
                }
        }
    }
    &__clear {
        position: absolute;
        top: calc(50% - 10px);
        right: 64px;
        cursor: pointer;
    }
    .envelopeInput input {
        @media (max-width:$xl) {
            height: 64px;
        }
    }
}
.priceNav {
    flex:none;
    width: 417px;
    padding-right: 20px;
    @media (max-width:$xl) {
        margin-top: 35px;
    }
    @media (max-width:$lg) {
        width: 100%;
        margin-top: 21px;
        padding-right: 0;
        transition: $transition5;
    }
    &__li {
        position: relative;
        @media (max-width:$lg) {
            &:after {
                content:'';
                position: absolute;
                top: -3px;
                right: 0;
                width: 19px;
                height: 34px;
                background: {
                    image: url($imgUrl + "svg/priceListHeader-lgArrows.svg");
                    repeat: no-repeat;
                }
                pointer-events: none;
            }
        }
        &:not(:first-child) {
            margin-top: 24px;
            @media (max-width:$lg) {
                margin-top: 41px;
            }
        }
    }
    &__choice {
        position: relative;
        font-size: 21px;
        line-height: 27px;
        color: $blueDark;
        cursor: pointer;
        transition: $transition5;
        @media (min-width:$lg) {
            &:hover {
                color: $greenMedium;
                &:after {
                    opacity: 1;
                }
            }
        }
        @media (max-width:$lg) {
            display: block;
            font-size: 24px;
            line-height: 30px;
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: $greenMedium;
            opacity: 0;
            transition: $transition5;
        }
        &.active {
            color: $purple;
            pointer-events: none;
        }
    }
}
.priceList {
    width: 1034px;
    margin-left: 43px;
    flex: none;
    @media (max-width:$xl) {
        width: 753px;
        margin-left: 37px;
    }
    @media (max-width:$lg) {
        position: relative;
        top: 42px;
        left: 100%;
        width: 700px;
        margin-left: 0;
        background: transparent;
        transition: $transition5;
    }
    &__list {
        transition:$transition5;
        &.hide {
            @media (max-width:$lg) {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }    
        }
    }
    &__item {
        &:not(:first-child) {
            margin-top: 48px;
            @media (max-width:$xl) {
                margin-top: 41px;
            }
        }
    }
    &__header {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @media (min-width:$xl) {
            &:hover {
                .priceList__title {
                    color: $greenMedium;
                }
                .priceList__svg {
                    background: $greenMedium;
                    svg {
                        path {
                            stroke: $white;
                        }
                    }
                }
            }
        }
        @media (max-width:$xl) {
            margin-bottom: 5px;
        }
        &.show {
            .priceList__svg {
                svg {
                    display: block;
                    transform: rotate(0deg);
                }
            }
        }
    }
    &__title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 500;
        color: $blueDark;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: $transition5;
    }
    &__svg {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border-radius: 50%;
        transition: $transition5;
        @media (max-width:$lg) {
            margin-right: 12px;
        }
        svg {
            display: block;
            transform: rotate(-180deg);
            transition: $transition;
            path {
                transition: $transition5;
            }
        }
    }
    &__content {
        display: none;
        border-top: 1px solid rgba(141, 155, 178, .3);
    }
    &__li {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(141, 155, 178, .3);
    }
    &__name,
    &__cost {
        font-size: 21px;
        line-height: 29px;
        color: $greenDark;
    }
    &__cost {
        font-weight: 500;
        @media (max-width:$lg) {
            margin-right: 4px;
        }
    }
}