@import "../modules/utilities/_variables.scss";
// twentytwenty
@import "../blocks/twentytwenty.scss";
// Scrollbar
@import "../blocks/_jquery.scrollbar.scss";
.specialist {
    padding-top: 97px;
    @media (max-width:$lg) {
        padding-top: 82px;
    }
    &__about {
        .containerMin {
            @media (max-width:$lg) {
                padding-left: 166px;
            }
        }
    }
    .services {
        margin-top: 196px;
        padding-top: 0;
        @media (max-width:$xl) {
            margin-top: 185px;
        }
        &__content {
            margin-top: 45px;
            @media (max-width:$xl) {
                margin-top: 34px;
                margin-left: 114px;
                margin-right: 0;
            }
        }
        .servicesCard {
            @media (max-width:$xl) {
                width: 527px;
                height: 320px;
            }
        }
    }
}
.aboutSpecialist {
    &__container {
        display: flex;
        @media (max-width:$lg) {
            flex-direction: column;
        }
    }
    &__content {
        width: 727px;
        @media (max-width:$xl) {
            width: 690px;
        }
        @media (max-width:$lg) {
            width: 680px;
        }
    }
    &__choices {
        position: relative;
        display: inline-flex;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -3px;
            left: 0;
            height: 1px;
            background: $greenMedium;
            border-radius: 50px;
        }
    }
    &__tab {
        position: relative;
        font-size: 18px;
        line-height: 23px;
        color: rgba(124, 143, 153, .6);
        cursor: pointer;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                color: $purple;
            }
        }
        @media (max-width:$xl) {
            font-size: 22px;
            line-height: 27px;
        }
        &:not(:first-child) {
            margin-left: 27px;
            @media (max-width:$xl) {
                margin-left: 24px;
            }
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -3px;
            left: 0;
            height: 2px;
            background: transparent;
            border-radius: 50px;
            z-index: 2;
            transition: $transition;
        }
        &.active {
            font-weight: 500;
            pointer-events: none;
            &:after {
                background: $purple;
            }
        }
    }
    &__list {
        margin-top: 48px;
        max-height: 268px;
        overflow: hidden;
        transition: all .4s;
        @media (max-width:$xl) {
            margin-top: 50px;
        }
    }
    &__item {
        display: flex;
        &:not(:first-child) {
            margin-top: 24px;
        }
    }
    &__year {
        flex:none;
        width: 154px;
        font-size: 26px;
        line-height: 34px;
        color: $greenDark;
        @media (max-width:$xl) {
            width: 114px;
        }
    }
    &__description {
        span {
            display: block;
            font-size: 18px;
            line-height: 25px;
            color: $greenDark;
        }
    }
    &__diploma {
        margin-top: 13px;
        display: inline-flex;
        align-items: center;
        @media (max-width:$xl) {
            margin-top: 7px;
        }
        svg {
            display: block;
            margin-right: 10px;
        }
        span {
            position: relative;
            font-size: 18px;
            line-height: 30px;
            color: $purple;
            @media (min-width:$xl) {
                &:hover {
                    &:after {
                        border-bottom: 2px solid #8D5287;
                        opacity: 0;
                    }
                }
            }
            &:after {
                content:'';
                position: absolute;
                right: 0;
                bottom: 2px;
                left: 0;
                border-bottom: 2px dashed #8D5287;
                opacity: 0.4;
                transition: border-bottom .2s, opacity .5s;
            }
        }
    }
    &__aside {
        margin-left: 193px;
        @media (max-width:$xl) {
            margin-left: 112px;
        }
        @media (max-width:$lg) {
            margin-top: 114px;
        }
    }
    &__ul {
        @media (max-width:$lg) {
            display: flex;
        }
    }
    &__li {
        &:not(:first-child) {
            margin-top: 32px;
            @media (max-width:$lg) {
                margin-top: 0;
                margin-left: 124px;
            }
        }
    }
    &__top {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        color: $greenDark;
        opacity: 0.5;
    }
    &__bottom {
        margin-top: 4px;
        font-size: 24px;
        line-height: 28px;
        color: $greenDark;
    }
    &__show,
    &__hide {
        position: absolute;
        margin-top: 48px;
        margin-left: 154px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        @media (min-width:$xl) {
            &:hover {
                span {
                    color: $gray;
                }
            }
        }
        @media (max-width:$xl) {
            margin-top: 42px;
            margin-left: 114px;
        }
        @media (max-width:$lg) {
            margin-top: 48px;
        }
        span {
            font-size: 18px;
            line-height: 23px;
            font-weight: 500;
            color: $blueDark;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transition: $transition;
        }
        svg {
            margin-left: 16px;
            display: block;
            @media (max-width:$xl) {
                margin-left: 10px;
            }
        }
        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }
    &__hide {
        svg {
            transform: rotate(-180deg);
        }
    }
}
.portfolioSpecialist {
    margin-top: 196px;
    @media (max-width:$xl) {
        margin-top: 261px;
    }
    @media (max-width:$lg) {
        margin-top: 132px;
    }
    &__title {
        font-size: 36px;
        line-height: 28px;
        color: $blueDark;
    }
    &__content {
        margin-top: 89px;
        margin-left: -32px;
        position: relative;
        @media (max-width:$xl) {
            margin-top: 44px;
        }
    }
}