@import "../modules/utilities/_variables.scss";
.team {
    padding-top: 97px;
}
.teamList {
    position: relative;
    width: 1224px;
    &:after {
        content:'';
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 1px;
        background: $greenMedium;
        border-radius: 50px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        font-size: 21px;
        line-height: 27px;
        color: $greenDark;
        opacity: 0.6;
        cursor: pointer;
        transition: $transition;
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: -3px;
            left: 0;
            height: 2px;
            background: transparent;
            border-radius: 50px;
            z-index: 2;
            transition: $transition;
        }
        &.active {
            opacity: 1;
            cursor: auto;
            &:after {
                background: $purple;
            }
        }
    }
}
.teamPeople {
    margin-top: 137px;
    &__list {
        margin: 0 -6px;
        display: flex;
        flex-wrap: wrap;
        gap: 158px 21px;
        &.show {
            position: relative;
            opacity: 1;
            pointer-events: auto;
        }
        &.hide {
            position: absolute;
            top: 0;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__item {
        width: 281px;
        &.hover {
            .teamPeople__bg {
                svg {
                    display: block;
                    .border {
                        opacity: 1;
                    }
                    .circle {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__person {
        position: relative;
        display: block;
        width: 100%;
        height: 323px;
    }
    &__bg {
        svg {
            display: block;
            .border {
                opacity: 0;
                transition: all .7s;
            }
            .circle {
                opacity: 0;
                transition: all .7s;
            }
        }
    }
    &__human {
        position: absolute;
        bottom: 7px;
        left: 7px;
        img {
            display: block;
        }
    }
    &__name {
        text-align: center;
    }
    &__link {
        font-size: 36px;
        line-height: 50px;
        color: $blueDark;
        font-family: 'Prata';
    }
    &__doctor {
        width: 80%;
        margin: 0 auto;
        margin-top: 12px;
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
        color: $gray;
        text-align: center;
    }
}