@import "../modules/utilities/_variables.scss";
.team {
    padding-top: 97px;
    @media (max-width:$xl) {
        padding-top: 142px;
    }
    @media (max-width:$lg) {
        padding-top: 82px;
    }
    @media (max-width:$xs) {
        padding-top: 53px;
    }
    .containerMin {
        @media (max-width:$xl) {
            padding: 0 60px;
        }
        @media (max-width:$lg) {
            padding: 0 43px;
        }
        @media (max-width:$xs) {
            padding: 0 40px;
        }
    }
}
.teamPeople {
    margin-top: 137px;
    @media (max-width:$xl) {
        margin-top: 152px;
    }
    @media (max-width:$lg) {
        margin-top: 167px;
    }
    @media (max-width:$xs) {
        margin-top: 120px;
    }
    &__list {
        margin: 0 -6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 158px 21px;
        @media (max-width:$xl) {
            gap: 161px 58px;
        }
        @media (max-width:$lg) {
            gap: 173px 70px;
        }
        @media (max-width:$xs) {
            gap: 110px 20px;
        }
        &.show {
            position: relative;
            opacity: 1;
            pointer-events: auto;
        }
        &.hide {
            position: absolute;
            top: 0;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__item {
        width: 281px;
        @media (min-width:$hover) {
            &.hover {
                .teamPeople__bg {
                    svg {
                        display: block;
                        .border {
                            opacity: 1;
                        }
                        .circle {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        @media (max-width:$xs) {
            width: 220px;
        }
    }
    &__person {
        position: relative;
        display: block;
        width: 100%;
        height: 323px;
        @media (max-width:$xs) {
            height: 258px;
        }
    }
    &__bg {
        svg {
            display: block;
            @media (max-width:$xs) {
                zoom: .8;
            }
            .border {
                opacity: 0;
                transition: all .7s;
            }
            .circle {
                opacity: 0;
                transition: all .7s;
            }
        }
    }
    &__human {
        position: absolute;
        bottom: 7px;
        left: 7px;
        @media (max-width:$xs) {
            zoom: .8;
        }
        img {
            display: block;
        }
    }
    &__name {
        text-align: center;
        @media (max-width:$xl) {
            margin-top: 12px;
        }
    }
    &__link {
        font-size: 36px;
        line-height: 40px;
        color: $blueDark;
        @media (max-width:$xs) {
            font-size: 32px;
        }
    }
    &__doctor {
        width: 80%;
        margin: 0 auto;
        margin-top: 12px;
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
        color: $gray;
        text-align: center;
    }
}