input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container {
    @extend %center;
}
.containerMin {
    @extend %centerMin;
}
body {
    font: {
        family: "EuclidFlex";
        weight: 400;
    }
    color: $gray;
    background: $white;
    &.openServicesMenu {
        overflow: hidden;
        .headerServices {
            opacity: 1;
            pointer-events: auto;
        }
        .header {
            &__logo {
                svg {
                    .color {
                        fill:$greenDark;
                    }
                }
            }
            &__tel {
                color: $blueDark;
            }
            &__quest {
                border: 2px solid $greenMedium;
                svg {
                    path,
                    circle {
                        stroke:$greenDark;
                    }
                }
            }
        }
        .headerNavTop,
        .headerNavBottom {
            &__link {
                color: $greenDark;
            }
        }
        .headerNavTop__link {
            &:after {
                background-image: url($imgUrl + "svg/headerNavTDark-active.svg");
            }
        }
        .headerNavBottom {
            &__link {
                color: $greenDark;
                &.active {
                    color: $purple;
                }
            }
        }
    }
}
.overflowHidden {
    overflow: hidden;
}
//buttons
.btnPurple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background: $purple;
    border-radius: 20px;
}
.btrWhiteBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    border: 2px solid $greenLight;
    border-radius: 20px;
}