input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.tablebodytext {
    display: none !important;
}
.container {
    @extend %center;
}
.containerMin {
    @extend %centerMin;
}
body {
    font: {
        family: "EuclidFlex";
        weight: 400;
    }
    color: $gray;
    background: $white;
    overflow-x: hidden;
    &.openServicesMenu {
        overflow: hidden;
        .headerServices {
            transform: translateY(0);
            border-radius: 0;
            opacity: 1;
        }
        .servicesMain, .servicesMiddle {
            &__item {
                transform: translateY(0px);
                opacity: 1;
            }
            &__info {
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .servicesDetail {
            &__li {
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .header {
            &:after {
                top: -100%;
            }
        }
    }
}
.page {
    padding-bottom: 96px;
    &_services {
        .banerServices {
            overflow: visible;
        }
    }
}
.overflowHidden {
    overflow: hidden;
}
//buttons
.btnPurple {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background: $purple;
    border-radius: 20px;
    transition: $transition5;
    @media (min-width:$xl) {
        &:hover {
            background: #820062;
        }
        &:active {
            background: $gray;
        }
    }
}
.btnWhiteBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background: transparent;
    border: 2px solid $white;
    border-radius: 20px;
    transition: $transition5;
    @media (min-width:$xl) {
        &:hover {
            color: $white;
            background: $greenLight;
            border: 2px solid $greenLight;
        }
    }
}
.btnBlueBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blueDark;
    border: 2px solid $blueDark;
    border-radius: 20px;
    transition: $transition5;
    @media (min-width:$xl) {
        &:hover {
            color: $white;
            background: $greenMedium;
            border: 2px solid $greenMedium;
        }
    }
}
.btnBlue {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background: $blueDark;
    border-radius: 20px;
    transition: $transition5;
}
//breadCrumbs
.breadCrumbs {
    position: relative;
    left: -19px;
    z-index: 2;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        &:first-child {
            &:before {
                content:'';
            }
        }
        &:not(:first-child) {
            margin-left: 8px;
        }
        &:before {
            content:'—';
            color: $greenLight;
        }
        svg {
            display: inline-block;
        }
        a {
            border-bottom: 1px solid $greenLight;
            transition: $transition;
            @media (min-width:$xl) {
                &:hover {
                    color: $white;
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
    &__chit {
        margin-left: 8px;
        font-size: 14px;
        line-height: 18px;
        color: $greenLight;
    }
    &.gray {
        .breadCrumbs__item {
            &:before {
                color: $gray;
            }
            a {
                border-bottom: 1px solid $gray;
                @media (min-width:$xl) {
                    &:hover {
                        color: $blueDark;
                        border-bottom: 1px solid transparent;
                    }
                }
            }
            svg {
                .color {
                    fill: $gray;
                }
            }
        }
        .breadCrumbs__chit {
            color: $gray;
        }
    }
}
//titles
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        font-size: 55px;
        line-height: 71px;
        color: $blueDark;
        font-family: 'Prata';
    }
    &__all {
        font-size: 20px;
        line-height: 24px;
        color: $blueDark;
        font-family: 'Roboto';
        border-bottom: 1px solid #BCC3D6;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                color: $greenMedium;
                border-bottom: 1px solid transparent;
            }
        }
    }
}
//sliders arrows
.sliderArrow {
    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                svg {
                    path {
                        stroke: $blueDark;
                    }
                }
            }
        }
        &.slick-disabled {
            pointer-events: none;
            svg {
                path {
                    stroke: $greenMedium;
                }
            }
        }
        svg {
            display: block;
            path {
                transition: $transition;
            }
        }
    }
    &__prev {
        left: 60px;
    }
    &__next {
        right: 60px;
    }
}
//popup
.mfp-bg {
    background: $greenDark !important;
}
.mfp-close {
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;
    top: 42px !important;
    right: 48px !important;
    opacity: 1 !important;
    cursor: pointer;
}
.popupBlock {
    &__close {
        svg {
            display: block;
            path {
                transition: $transition;
            }
        }
        @media (min-width:$xl) {
            &:hover {
                svg {
                    display: block;
                    path {
                        fill: $greenDark;
                    }
                }
            }
        }
    }
}
//envelope inputs
.envelopeInput {
    position: relative;
    @media (min-width:$xl) {
        &:hover {
            .envelopeInput__field {
                border: 1px solid $white;
            }
        }
    }
    &__field {
        padding: 0 22px;
        font-size: 24px;
        line-height: 30px;
        color: $white;
        background: transparent;
        border: 1px solid $white;
        border-radius: 4px;
        @include placeholder(24px, $greenLight, EuclidFlex);
        transition: $transition;
        &:focus {
            border: 2px solid $white !important;
        }
    }
    &__error {
        display: block;
        position: absolute;
        bottom: -18px;
        left: 0;
        font-size: 14px;
        line-height: 18px;
        color: $error;
        opacity: 0;
        pointer-events: none;
        transition: $transition;
    }
    input {
        height: 64px;
    }
    &.error {
        .envelopeInput__field {
            border: 1px solid $error !important;
        }
        .envelopeInput__error {
            bottom: -24px;
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.grayInput {
    input {
        color: $greenDark;
        background: rgba(219, 233, 239, .5);
        font-size: 18px;
        line-height: 23px;
        border: 2px solid transparent;
        border-radius: 20px;
        @include placeholder(18px, $greenMedium, EuclidFlex);
        transition: $transition5;
    }
    @media (min-width:$xl) {
        &:hover {
            input {
                border: 2px solid $greenDark;
            }
        }
    }
    &:focus {
        input {
            border: 2px solid $greenDark;
        }
    }
}
.whiteInput {
    input {
        color: $greenDark;
        background: $white;
        font-size: 23px;
        line-height: 29px;
        border: 2px solid #A9C2C9;
        border-radius: 32px;
        @include placeholder(23px, $greenMedium, EuclidFlex);
        transition: $transition5;
    }
    @media (min-width:$xl) {
        &:hover {
            input {
                border: 2px solid $greenDark;
            }
        }
    }
    &:focus {
        input {
            border: 2px solid $greenDark;
        }
    }
}
.clearInput {
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    &.show {
        opacity: 1;
        pointer-events: auto;
    }
    svg {
        display: block;
        path {
            transition: $transition;
        }
    }
    @media (min-width:$xl) {
        &:hover {
            path {
                stroke: $blueDark;
            }
        }
    }
}
.sectionConsult {
    &__content {
        padding-top: 60px;
        padding-bottom: 72px;
        width: 100%;
        background: $blueGrayGrad;
        border-radius: 80px;
        display: flex;
        overflow: hidden;
        @extend %centerContainer;
    }
    &__form {
        width: 576px;
    }
    &__title {
        font-size: 48px;
        line-height: 62px;
        color: $white;
        font-family: 'Prata';
    }
    &__description {
        font-size: 18px;
        line-height: 26px;
        color: $greenLight;
    }
    &__privacy {
        font-size: 14px;
        line-height: 18px;
        color: $greenLight;
    }
    &__policy {
        border-bottom: 1px solid $greenLight;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                color: $white;
                border-bottom: 1px solid transparent;
            }
        }
    }
    &__doctor {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
            display: block;
        }
    }
}
.banerSection {
    position: relative;
    padding-top: 163px;
    padding-left: 367px;
    width: 100%;
    height: 594px;
    background: linear-gradient(188.86deg, #A9C2C9 1.18%, #79A5B1 85.9%);
    overflow: hidden;
    &:before {
        content:'';
        width: 1335px;
        height: 1335px;
        position: absolute;
        top: -48px;
        left: 388px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.38) 43.25%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.75;
        pointer-events: none;
    }
    &__sheet {
        position: absolute;
        background: {
            repeat: no-repeat;
        }
        pointer-events: none;
        &_left {
            top: 0;
            left: 0;
            width: 852px;
            height: 594px;
            background-image: url($imgUrl + "banerSectionSheet-left.png");
        }
        &_right {
            top: 0;
            right: 0;
            width: 840px;
            height: 594px;
            background-image: url($imgUrl + "banerSectionSheet-right.png");
        }
    }
    &__content {
        position: relative;
        margin-top: 48px;
        max-width: 573px;
        z-index: 2;
    }
    &__title {
        margin-left: -154px;
        font-size: 72px;
        line-height: 101px;
        color: $white;
        font-family: 'Prata';
    }
    &__description {
        margin-top: 48px;
        font-size: 24px;
        line-height: 34px;
        color: $greenLight;
    }
    &__container {
        display: flex;
    }
    &__img {
        position: absolute;
        right: 166px;
        bottom: 0px;
        max-width: 897px;
        max-height: 594px;
        img {
            display: block;
        }
    }
}
.whiteSection {
    &__content {
        padding-top: 163px;
        padding-left: 303px;
    }
}
.services {
    position: relative;
    padding-top: 96px;
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    &__container {
        margin-top: 34px;
    }
    &__title {
        padding-left: 154px;
        font-size: 36px;
        line-height: 50px;
        font-family: 'Prata';
        color: $blueDark;
    }
    &_attendance {
        padding-top: 57px;
        height: 737px;
        overflow: hidden;
        transition: all .4s ease-in-out;
    }
    &_cosmetic {
        .services__container {
            display: flex;
            gap: 0 40px;
        }
    }
}
.servicesCard {
    position: relative;
    width: 573px;
    height: 320px;
    padding: 30px;
    background: #dbe9ef80;
    border-radius: 32px;
    overflow: hidden;
    &:after {
        content:'';
        position: absolute;
        top: 128px;
        right: 0;
        bottom: 0;
        width: 60px;
        display: block;
        background: linear-gradient(270deg, #EDF4F7 33.33%, rgba(237, 244, 247, 0) 100%);
    }
    &__header {
        display: flex;
    }
    &__img {
        flex: none;
        width: 124px;
        height: 124px;
        border-radius: 16px;
        overflow: hidden;
        background: {
            repeat: no-repeat;
            size: cover;
        }
    }
    &__wrapper {
        margin-left: 24px;
    }
    &__title {
        max-width: 70%;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: $blueDark;
        font-family: 'Montserrat';
    }
    &__description {
        margin-top: 12px;
        font-size: 16px;
        line-height: 20px;
        color: $gray;
    }
    &__bottom {
        position: absolute;
        bottom: 38px;
        left: 178px;
    }
    &__list {
        display: flex;
    }
    &__box {
        &:not(:last-child) {
            padding-right: 12px;
            margin-right: 12px;
            border-right: 1px solid #8d9bb233;
        }
    }
    &__what {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: $gray;
        opacity: 0.6;
    }
    &__how {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $gray;
        white-space: nowrap;
    }
    &__equipment {
        margin-top: 16px;
    }
    &__facilities {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: $gray;
        opacity: 0.6;
    }
    &__name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $blueDark;
    }
    &__programm {
        position: absolute;
        top: 24px;
        right: 32px;
        padding: 3px 8px 2px;
        height: 26px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        background: #3b5e8280;
        border-radius: 0 10px;
    }
    &__more {
        margin-top: 31px;
    }
    &__details {
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
        color: $blueDark;
        border-bottom: 1px solid transparent;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                color: $greenMedium;
                border-bottom: 1px solid $greenMedium;
            }
        }
    }
    &_programm {
        .servicesCard__how {
            font-size: 18px;
            line-height: 23px;
            color: $blueDark;
        }
        .servicesCard__bottom {
            bottom: 31px;
        }
    }
}
.serviceMore {
    position: relative;
    margin: 20px auto;
    background: $white;
    border-radius: 60px;
    width: 1184px;
    height: 583px;
    &__content {
        display: flex;
        padding: 43px 58px 48px 46px;
    }
    &__img {
        display: block;
        width: 478px;
        height: 486px;
        margin-top: -93px;
        margin-left: -106px;
        border-radius: 36px;
        overflow: hidden;
        background: {
            size:cover;
            repeat:no-repeat;
        }
    }
    &__btn {
        margin-top: 35px;
        width: 373px;
    }
    &__right {
        margin-left: 41px;
    }
    &__header {
        display: flex;
        padding-right: 40px;
        max-height: 100px;
        overflow: hidden;
    }
    &__title {
        font-size: 36px;
        line-height: 50px;
        color: $blueDark;
        font-family: 'Prata';
        padding-right: 41px;
    }
    &__programm {
        padding: 3px 8px 2px;
        height: 26px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        background: #3b5e8280;
        border-radius: 0 10px;
    }
    &__wrapper {
        margin-top: 22px;
        position: relative;
        &:before,
        &:after {
            content:'';
            position: absolute;
            right: 0;
            left: 0;
            height: 20px;
            z-index: 1;
        }
        &:before {
            top: 0;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
        &:after {
            bottom: 0;
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    &__list {
        padding-top: 8px;
        padding-right: 50px;
        height: 362px;
    }
    &__item {
        margin-bottom: 24px;
        display: flex;
    }
    &__stage {
        flex:none;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 600;
        color: $gray;
    }
    &__description {
        margin-left: 36px;
    }
    &__name {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: $blueDark;
    }
    &__text {
        margin-top: 4px;
        font-size: 18px;
        line-height: 23px;
        color: $greenDark;
    }
}
@keyframes mainLinesDraw{
    to {stroke-dashoffset: 0;}
}
.containerMin {
    .lines {
        stroke-miterlimit:10;
        stroke-dasharray: 3601;
        stroke-dashoffset: 3601;
    }
    &.show {
        .lines {
            stroke:#DBE9EF;
            animation: mainLinesDraw 10s linear forwards;
        }
    }
}
.scrollbarCustom {
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar-button {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        margin: 15px 0;
        width: 4px;
        background-color: #E9E5E8;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        width: 4px;
        -webkit-border-radius: 0px;
        border-radius: 10px;
        background-color: $purple;
        cursor: pointer;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                background-color: $greenMedium !important;
            }
            &:active {
                background-color: $greenDark !important;
            }
        }
    }
    &::-webkit-resizer {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &::-webkit-scrollbar {
        width: 4px;
    }
}
.scrollbarCustomGray {
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar-button {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        margin-top: 22px;
        width: 4px;
        background-color: #DFE9F9;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        width: 4px;
        -webkit-border-radius: 0px;
        border-radius: 10px;
        background-color: #B3BFCF;
        cursor: pointer;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                background-color: $greenDark !important;
            }
            &:active {
                background-color: $greenDark !important;
            }
        }
    }
    &::-webkit-resizer {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &::-webkit-scrollbar {
        width: 4px;
    }
}
.scrollbar {
    .scrollbar-inner>.scroll-element.scroll-y {
        width: 7px;
    }
    .scrollbar-inner>.scroll-element .scroll-element_track {
        width: 1px;
        left: 3px;
        background-color: #E9E5E8;
        border-radius: 12px;
        cursor: pointer;
    }
    .scrollbar-inner>.scroll-element .scroll-bar {
        background-color: $purple;
        opacity: 1;
        width: 7px;
        border-radius: 12px;
        cursor: pointer;
        transition: $transition;
        @media (min-width:$xl) {
            &:hover {
                background-color: $greenMedium !important;
            }
            &:active {
                background-color: $greenDark !important;
            }
        }
    }
    @media (min-width:$xl) {
        .scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar, .scrollbar-inner>.scroll-element:hover .scroll-bar {
            background-color: $purple;
        }
    }
}
