input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container {
    @extend %center;
}
body {
    font: {
        family: "EuclidFlex";
        weight: 400;
    }
    color: $gray;
    //background: $white;
    background: #333;
    overflow: hidden;
}
.overflowHidden {
    overflow: hidden;
}
//buttons
.btnPurple {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background: $purple;
    border-radius: 20px;
}